
@media only screen and (max-width: 1100px) {

    .left-banner{
        width: 44%;
    }
    .right-banner{
        .card{
            width: 49%;
            padding: 15px 6px 25px;
        }
    }

}
@media only screen and (max-width: 900px) {
    .left-icon {
        img {
            margin: 0 25px;
        }
    }

    .home-solution-info {
        width: 33%;

        h2 {
            font-size: 50px;
        }
    }

    .left-banner {
        width: 100%;
        text-align: center;
    }

    .solution {
        .row {
            justify-content: space-around;
        }
    }
    .right-banner {
        width: 100%;
        padding-top: 25px;
    }
    .solution2 {
    linear-gradient(90deg, rgb(242, 242, 242) 23%, rgb(242, 242, 242) 24%, rgb(242, 242, 242) 30%, rgb(76, 162, 105) 26%, rgb(53, 151, 86) 63%, rgb(242, 242, 242) 41%)
    }
    .app{
        width: 50%;
        padding-top: 0;
    }
    .card{
        width: 40%;
    }

    .web {
        width: 85%;
    }

    .code {
        width: 55%;
        padding: 50px 20px;

    }

    .clients {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 30%;

        }
    }
    .home-solution-info{
        width: 80%;
    }
    .home-solution-build{
        width: 80%;
    }
    .code{
        width: 60%;

        transform: translate(0, -10%);
    }
    .solution4 {
        h3{
           padding:25px 35px;
        }
        .row3{
            display: flow;
        }
    }
    .app {
        width: 72%;
        padding: 0 35px;
    }
}
@media only screen and (max-width: 800px) {
    .solution6 {
        .container-md{

        background: linear-gradient(0deg, rgb(255, 255, 255) 8%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 58%, rgb(53, 151, 86) 57%, rgb(53, 151, 86) 83%, rgb(255, 255, 255) 83%, rgb(255, 255, 255) 95%)
        }
    }
    .work{
        width: 94%;
    }
    .page{
        width: 73%;
        margin-left: 80px;
    }
}

/*@media only screen and (max-width: 750px) {*/
/*    .card {*/
/*        width: 47%;*/
/*    }*/
/*    .code {*/
/*        width: 69%;*/
/*        margin-right: 119px;*/
/*        transform: translate(0, -2%);*/
/*    }*/
/*}*/
@media only screen and (max-width: 650px) {
    .home-solution-info {
        width: 100%;
        padding: 25px;
        h2{
            font-size: 36px;
        }
    }
    .title {
        font-size: 30px;
    }
    .solution2 {
        background: linear-gradient(90deg, rgb(242, 242, 242) 23%, rgb(242, 242, 242) 24%, rgb(242, 242, 242) 30%, rgb(76, 162, 105) 27%, rgb(53, 151, 86) 74%, rgb(242, 242, 242) 42%);
    }
    .card {
        width: 85%;
    }
    .web:before{
        width: 95px;
        height: 95px;
        bottom: 75%;
        top: auto;
    }
    .solution2 {
        padding: 50px 0 80px;
    }
    .code{
        width: 90%;
        transform: translate(0, 12%);
        align-self: start;

    }
    .clients{
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .right-banner{
        .card{
            width: 95%;
        }
    }
    .solution7{
        height: 750px;
    }
    .contact {
        width: 76%;
        background-color: white;
        height: 650px;
        border-radius: 10px;
        margin-left: 55px;
    }
    .info{
        width: 93%;
    }
    .personal{
        width: 93%;
        padding:0;
    }
}