@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$primary-color: #359756;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
}
.container-lg{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
.container-md{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5px;
}
.container-sm {
  max-width: 900px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:25px 0;
}
.unique-p{
  font-family: "Open Sans", sans-serif;
}
header{
  padding: 25px 0;
  .row{
    justify-content: space-between;
  }
}
.left-icon{
  img{
    width: 70px;
  }
}
.right-icon{

}
.menu-icons{
  display: flex;
  gap:15px;


  li{
    list-style: none;
    i{
      font-size: 20px;
    }
  }
}


.home-section{
  padding: 90px 0 120px ;
}
.solution{
  background-color: #F2F2F2;
  padding: 20px 0 50px;


  .row{
    justify-content: space-between;
  }
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.home-solution-info{
  width: 50%;
  align-self: center;
  h2{
    color: $primary-color;
    font-size: 60px;
    padding: 10px 0;
  }
  p{
    font-size: 15px;
    padding: 20px 0;
  }
  a{
    text-decoration: underline;
  }
  .btn1{
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border: none;
  }
  .btn2{
    background-color: #E5E5E5;
    color:black;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border: none;
  }
}
.home-solution-build{
  width: 50%;
  img{
    width: 100%;
  }
}
.left-banner{
  width: 40%;
  align-self: center;
}
.title{
  font-size: 48px;
  color: #359756;
  margin: 20px 0;
}
.text{
  font-size: 24px;
  margin: 20px 0;
}
.btn{
  background-color: #359756;
  color: white;
  border: none;
  font-size: 18px;
  padding: 14px 52px 14px 51px;
  margin: 20px 0;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: lowercase;
}
.right-banner{
  width: 55%;
}
.card{
  width: 48%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 25px 15px 50px;
  align-items: center;
  h3{
    color: $primary-color;
    font-size: 30px;
    text-align: center;
  }
  p{
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
    font-style: italic;
  }
  a{
    color: black;
  text-decoration-color: $primary-color;
  }
}

.my-lock{

  width: 60px;
  height: 60px;
  background-color: #D9F6E3;
  color: #90C6A2;
  border-radius: 50%;

  font-size: 35px;
  display: flex;
align-items: center;
  justify-content: center;
}
.badge{
background-color: #359756;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 20px;
}
.solution2{
  background: linear-gradient(90deg, rgba(242, 242, 242, 1) 23%, rgba(242, 242, 242, 1) 24%, rgba(242, 242, 242, 1) 30%, rgba(76, 162, 105, 1) 27%, rgba(53, 151, 86, 1) 53%, rgba(242, 242, 242, 1) 42%);
}
.solution2-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;




}
.web{
  width: 70%;
  position: relative;
  left: 60px;
  transform: translate(0,50px);

  img{
    width: 100%;
    border-radius: 8px;
  }
}
.web:before{
  content: "";
  position: absolute;
  width: 155px;
  height: 155px;
  background-color: #8AE4A8;
  border-radius: 50%;
  z-index: 1;
  top: 20%;
  right: calc(100% - 50px);
}
.code{
  width: 50%;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  align-self: flex-end;
transform: translate(0, -25%);
  h3{
    color: $primary-color;
    font-size: 36px;
  }
  .unique-p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  a{
    text-decoration: underline;
  }
  .btn3{
    background-color: #359756;
    color: white;
    border: none;
    font-size: 18px;
    padding: 14px 52px 14px 51px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    border-radius: 10px;
  }
}
.solution3{
  .big-p{
    text-align: center;
    font-size:20px ;
    margin: 55px 0 10px;
  }
  h3{
    color: $primary-color;
    text-align: center;
    font-size: 48px;
  }
  .unique-p{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 ;
  }
}
.clients{
  background-color:#F2F2F2 ;
  width: 24%;
  padding: 20px 0;
  border-radius: 8px;
  img{
    width: 50%;
    border-radius: 50%;
    border: 5px solid $primary-color;
    margin: 0 55px 0;
  }
  .unique-p{
    font-size: 16px;
    text-align: center;
    color: #868686;
    margin: 20px 10px;
    line-height: 1.5;
  }
  h4{
    color: $primary-color;
    text-align: center;
    font-size: 20px;
  }
  p{
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
  }
}
.unique-p2{
  font-size: 16px;
  text-align: center;
  margin: 30px 0;
  a{
    text-decoration: underline;
  }
}
.solution4{
  background-color: #F2F2F2;
  padding: 20px 0 50px;
  .row{
    justify-content: space-between;
  }
  h3{
    color: $primary-color;
    font-size: 48px;
    padding: 25px 0;
  }
}
.app{
  width: 46%;
  p{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    padding: 15px 0;
    line-height: 1.5;
  }
}
.subscription{
  width: 25%;
  padding: 15px 35px;
  i{
    color: $primary-color;
    line-height: 1.7;
    font-size: 16px;
  }
  p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: black;
  }
}
    .starter{
      background-color: $primary-color;
      width: 32%;
      margin: 25px 0;
      .first-p{
        color: white;
        font-size: 24px;
        padding:20px;
      }
      h3{
        font-size: 60px;
        color: white;
        padding: 0 20px;
      }
      .btn4{
        background-color: white;
        color: $primary-color;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        border: none;
        margin: 40px 20px;
      }
      p{
        font-size: 14px;
        color: white;
        font-family: "Open Sans", sans-serif;
        padding: 0 58px 35px 20px;
      }
    }
.plans{
  background-color: white;
  width: 32%;
  margin: 25px 0;
  .first-p{
    color: $primary-color;
    font-size: 24px;
    padding:20px;
  }
  h3{
    font-size: 48px;
    color: $primary-color;
    padding: 0 20px;
  }
  span{
    font-size: 24px;
    color: $primary-color;
  }
  .btn5{
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border: none;
    margin: 40px 20px;
  }
  p{
    font-size: 14px;
    color: black;
    font-family: "Open Sans", sans-serif;
    padding: 0 58px 35px 20px;
  }
}
.solution6 {
  padding: 30px 0;
  .container-md {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 23%, rgba(255, 255, 255, 1) 23%, rgba(53, 151, 86, 1) 30%, rgba(53, 151, 86, 1) 84%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 1) 72%);
  }
  .row{
    justify-content: space-between;
  }
}

.work{
  width: 50%;
  img{
  width: 100%;
  background-color: white;
  margin: 20px ;
}
}

.page {
  width: 44%;
  background-color: #EFEFEF;

  h3 {
    color: $primary-color;
    font-size: 48px;
    padding: 70px 25px;
  }

  p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 0 25px;
  }

  a {
    text-decoration: underline;
    color: $primary-color;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }

  .btn6 {
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    border: none;
    margin: 40px 20px;
  }
}
.solution7{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background: linear-gradient(0deg, rgba(229, 229, 229, 1) 33%, rgba(53, 151, 86, 1) 33%, rgba(53, 151, 86, 1) 68%, rgba(229, 229, 229, 1) 63%);
}
.contact{
  width: 100%;
  background-color: white;
  height: 400px;
  border-radius: 10px;
}
.info{
  width: 45%;
  padding:40px;
  h3{
    color: $primary-color;
    font-size: 30px;
    padding: 10px 0;
  }
  i{
    padding: 10px 0;
    color: $primary-color;
    font-size: 20px;
  }
  span{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: black;
  }
  .special-span{
    font-size: 16px;
  }
  .special-i{
    font-size: 35px;
    padding: 5px ;
  }
}
.personal{
  width: 55%;
  padding: 40px;
  input{
    width: 90%;
    height: 35px;
    background-color:#F2F2F2 ;
    border:none;
    margin: 10px;
  }
  .btn7{
    background-color: $primary-color;
    color: white;
    width: 88%;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    border: none;
    margin: 20px;
  }
}
